<mat-card class="profile-card">
  <mat-card-title class="title">{{profileTitle}}</mat-card-title>
  <mat-card-header class="header">
    <div class="profile-picture">
      <img class="profile-icon" mat-card-sm-image [src]="" alt="">
    </div>
    <div class="profile-info">
      <div class="item">
        <div class="subtitle">title 1</div>
        <div class="count">2</div>
      </div>
      <div class="item">
        <div class="subtitle">title 2</div>
        <div class="count">4</div>
      </div>
    </div>
  </mat-card-header>
</mat-card>
