<mat-card class="profile-card">
  <mat-card-title class="title">{{profileTitle}}</mat-card-title>
  <mat-card-header class="header">
    <div class="profile-picture">
      <img class="profile-icon" mat-card-sm-image [src]="activeHotel.photo" alt="">
    </div>
    <div class="profile-info">
      <div class="item">
        <div class="subtitle">Followers</div>
        <div class="count">{{activeHotel.followers}}</div>
      </div>
      <div class="item">
        <div class="subtitle">Following</div>
        <div class="count">{{activeHotel.following}}</div>
      </div>
    </div>
  </mat-card-header>
</mat-card>
