<mat-card class="card">
  <mat-card-header class="header">
    <mat-card-title>{{weatherTitle}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <div class="weather-item">
      <mat-icon class="icon">{{activeHotel.weather.icon}}</mat-icon>
      <div class="degrees">{{activeHotel.weather.temperature}}</div>
    </div>
    <div class="weather-item">
      <mat-icon class="icon">clear_all</mat-icon>
      <div class="degrees">{{activeHotel.weather.wind}}</div>
    </div>
  </mat-card-content>
</mat-card>
