.toolbar {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  img {
    height: 100%;
    margin-right: 10px;
  }
}

.app-box {
  display: flex;
  margin-top: 30px;
  padding: 0 100px;
  .hotels {
    width: 100%;
    margin-right: 30px;
  }
  .widgets {
    min-width: 300px;
  }
}

/deep/.card {
  margin-bottom: 30px;
}
