<mat-toolbar class="toolbar" color="primary">
  <img src="https://cdn.freebiesupply.com/logos/large/2x/angular-icon-1-logo-svg-vector.svg" alt="">
  <span>{{headerTitle}}</span>
</mat-toolbar>

<mat-toolbar class="menu-box">
  <app-menu></app-menu>
</mat-toolbar>

<div class="app-box">
  <div class="hotels">
    <app-hotels
      [hotels]="hotels$ | async"
      [activeHotel]="activeHotel.id"
      (selectedHotelItem)="getSelectedHotel($event)"
    >
    </app-hotels>
  </div>
  <div class="widgets">
    <app-weather [activeHotel]="activeHotel.weather"></app-weather>
    <app-profile></app-profile>
    <app-features></app-features>
  </div>
</div>
