<mat-toolbar class="toolbar" color="primary">
  <img src="https://cdn.freebiesupply.com/logos/large/2x/angular-icon-1-logo-svg-vector.svg" alt="">
  <span>{{headerTitle}}</span>
</mat-toolbar>

<div class="app-box">
  <div class="hotels">
    <app-hotels [hotels]="hotels"></app-hotels>
  </div>
  <mat-list class="widgets" role="list">
    <mat-list-item role="listitem">
      <app-weather></app-weather>
    </mat-list-item>
    <mat-list-item role="listitem">
      <app-profile></app-profile>
    </mat-list-item>
    <mat-list-item role="listitem">
      <app-features></app-features>
    </mat-list-item>
  </mat-list>
</div>
