<ul class="menu">
  <li class="item">
    <mat-icon class="item-icon">home</mat-icon>
    <a routerLink="" class="item-link">Home</a>
  </li>
  <li class="item">
    <mat-icon class="item-icon">hotel</mat-icon>
    <a routerLink="" class="item-link">Hotels</a>
  </li>
  <li class="item">
    <mat-icon class="item-icon">brightness_5</mat-icon>
    <a routerLink="" class="item-link">Weather</a>
  </li>
  <li class="item">
    <mat-icon class="item-icon">account_circle</mat-icon>
    <a routerLink="" class="item-link">Profile</a>
  </li>
  <li class="item">
    <mat-icon class="item-icon">list</mat-icon>
    <a routerLink="" class="item-link">Features</a>
  </li>
</ul>
